body{
  justify-content: center;
  overflow: inherit ;
  background-color: rgba(14, 22, 38, 1);
  position: relative; /* Hace que el contenedor sea el contexto de .headerMovies */
  padding-top: 100px; /* Compensa la altura de .headerMovies */
} 
 
 #root {
  /*max-width: 1280px;*/
  width: 1400px;
  margin: 30px 50px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: start;
  
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #484848;
  z-index: 100;
  background: rgba(4, 0, 25, 0.508); /* Color blanco semi-transparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */    
    box-shadow: 0 4px 6px rgba(130, 130, 130, 0.1); /* Sombra suave */

    .iconMe{
      padding-left: 30px;
      align-content: center;
    }
  }  

.read-the-docs {
  color: #888;
}

.nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li{
    padding: 5px;
    margin-right: 15px;
    
  }
  li .itemsLinks{
    display: flex;
    align-items: center;
    color: #fffffff8;

    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    position: relative; /* Necesario para posicionar el ::after */
    transition: color 0.3s ease, transform 0.3s ease;
    span{
      font-size: large;
    }
  }
  @media screen and (max-width: 764px){
    li .itemsLinks span{
      display: none;
    }
  }
  li .itemsLinks:hover{  
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px rgba(10, 99, 201, 0.981));
    transform: scale(1.1);
  }

  li .active {
    filter: drop-shadow(0px 0px 15px rgba(141, 187, 240, 0.981));
    /*transform: scale(1.1);*/
  }


  li .itemsLinks::after {
      content: "";
      position: absolute;
      left: 50%; /*50% para que el subrayado se expanda desde el centro, si le pones 100se expande de izq a der*/
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: #a5d6ff; /* Color de la línea de subrayado */
      transition: width 0.2s ease, left 0.2s ease;
      transform: translateX(-50%); /* Centra el ::after en el medio */
  }

  li .itemsLinks:hover::after {
      width: 100%; /* Expande la línea en hover */
      left: 50%; /* Mueve la línea hacia la izquierda para cubrir todo el ancho */
      filter: drop-shadow(0px 0px 5px rgba(10, 99, 201, 0.716));
  }

  
  
}

.loader {
  position: absolute;
  z-index: 100;
  background-color: #000000d2;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  flex-wrap: wrap;
  color: rgba(179, 227, 255, 0.479);
  font-size: 30px;
}

.loader::before {
  content: ' ';
  width: 70px; /* Ajusté el tamaño del círculo */
  height: 70px; /* Ajusté el tamaño del círculo */
  border-radius: 50%;
  border: 5px solid transparent; /* Borde amarillo */
  border-bottom: 5px solid #c0f3ff; 
  border-top: 5px solid #96e0ff; /* Borde superior rojo para un efecto de animación */
  animation: spin 0.6s linear infinite; /* Animación de rotación */
  backdrop-filter: blur(50px); 
  background-color: rgba(255, 245, 154, 0.141);
  
}

/* Definir la animación */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table{
  width: 100%;
  img{
    border-radius: 50%;
  }
  tbody tr:hover{
    backdrop-filter: blur(50px); 
  background-color: rgba(74, 74, 74, 0.165); 
  }
}

.content{
  
}

.headerT, .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  
  
  
  
  button{
    margin-right: 5px;
  }
  input{
    margin-left: 20px;
    height: 40px;
    width: 400px;
    padding: 0 15px 0 15px;
    border-radius: 20px;
    font-size: medium;
  }
}

.headerB{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  span{
    margin-right: 15px;
  }
}

.headerMovies {
  background-color: #145e68d9;
  position: absolute;
  width: 100vmax;
  left: 0;
  z-index: 10;
  /* margin-bottom: 280px; */
}

.headerMovies .filterInput{
  margin-left: 25px;
  width: 100%;
}

.headerMovies .filterInput input {
  width: 65%;
  background-color: #96e0ff;
}

.headerMovies .filterInput span {
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
}

.gendersContainer{
  grid-area: gendersContainer;
 
  padding: 10px; /* Margen interno */
  position: relative;
  padding-bottom: 20px;
  padding-top: 230px;

  
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(10,30px);
  
}
.gendersContainer span{
  transition: transform 0.6s ease-in-out;
}
.gendersContainer span:hover{
  transform: scale(1.1);
  font-weight: bold;
}

.gridMovies {
  padding-top: 200px;
  position: relative;
  display: grid;
  grid-template-areas: 
    "gendersContainer moviesSection";
  grid-template-columns: 1fr 3fr; /* La primera columna ocupa menos espacio */
  gap: 20px; /* Espaciado entre columnas (opcional) */
  width: 100%; /* Ajusta al ancho completo */
}

.moviesSection {
  grid-area: moviesSection;
  
  padding: 10px; /* Margen interno */
}

/* Para pantallas medianas */
@media (max-width: 768px) {
  .gridMovies {
    grid-template-areas: 
      "gendersContainer"
      "moviesSection"; /* Cambia a diseño en una columna */
    grid-template-columns: 1fr; /* Una sola columna */
  }
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {
  .headerMovies {
    height: auto; /* Ajusta automáticamente su altura */
    padding: 20px; /* Espaciado interno para pantallas pequeñas */
    text-align: center; /* Centra el contenido */
  }

  .gridMovies {
    grid-template-areas: 
      "gendersContainer"
      "moviesSection"; /* Diseño en columna única */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 10px; /* Reduce el espacio entre secciones */
  }

}

.filterInput{
  display: flex;
  flex-direction: row;
}

.badge{
  color: #fff;
  background-color: rgb(0, 98, 174);
  border-radius: 50%;
  align-items: center;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}





svg{
  height: 24px;
  width: 24px;
}

.warnFetch{
  font-size: xx-large;
  color: #bcbcbc3b;
  svg{
    transform: scale(4);
    padding: 20px;
    color: #dac60e2d;
    filter: drop-shadow(0px 0px 5px rgba(201, 201, 10, 0.716));
  }
}

.moviesContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cardMovie{
  transition: filter .2s ease-in-out;
  padding-bottom: 25px;
  img{
    border-radius: 15px;
  }
}

.cardMovie:hover{
  filter: drop-shadow(0px 0px 15px rgba(0, 60, 85, 0.716));
}

.temp{
  font-size: xx-large;
  font-weight: bold;
}

.tempHot{
  color: #FF5733;
}

.tempCold{
  color: #007BFF;
}